<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Bubbles! </title>
    <link rel="stylesheet" href="../assets/style.css"/>
    
</head>

<body>
    <div class="hero">
     <nav>
        <img src="../assets/TRAVEL BUBBLES OFFICIAL.png" class="logo">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT US</a></li>
        </ul>
     </nav>
        <div class="content">
            <h1>Travel Bubbles</h1>
            <a href="/laundries" method="GET">FIND A LAUNDRY</a>
            <a  href="/form">BECOME A BUBBLE</a>

        </div>
    </div>
</body>
</html> 